            #MainRegister {display:none;}
            #Claims {display:none;}
            #ManageVoucher {display:none;}
            #Reports {display:none;}
            #FacilityRegister {display:none;}
            #SystemSetup {display:none;}


